@charset "UTF-8";
div.drink-quiz div.enter-page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
div.drink-quiz div.enter-page header {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
div.drink-quiz div.enter-page header img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -o-object-fit: fill;
     object-fit: fill;
}
div.drink-quiz div.enter-page header p.title {
  font-size: 3rem;
  font-weight: 600;
  z-index: 1;
  margin-top: 8rem;
}
div.drink-quiz div.enter-page header button {
  z-index: 1;
  font-weight: 300;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 350;
  background-color: #000000;
  color: white;
  border: 0;
  border-radius: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
div.drink-quiz div.enter-page header button:hover {
  transform: scale(1.05);
}
div.drink-quiz div.enter-page main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: center;
  margin-top: 4rem;
}
div.drink-quiz div.enter-page main p.carousel-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}
div.drink-quiz div.enter-page main p.carousel-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-top: 0.8rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
div.drink-quiz div.enter-page main div.drink-carousel {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}
div.drink-quiz div.enter-page main button {
  font-weight: 300;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 350;
  background-color: #000000;
  color: white;
  border: 0;
  border-radius: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
div.drink-quiz div.enter-page main button:hover {
  transform: scale(1.05);
}
div.drink-quiz div.intro-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.drink-quiz div.intro-page img.background {
  width: 100%;
  height: 100vh;
  z-index: -5;
  position: fixed;
  -o-object-position: center 90%;
     object-position: center 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
div.drink-quiz div.intro-page main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
div.drink-quiz div.intro-page main p {
  max-width: 100%;
  width: 40rem;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 1.8;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
div.drink-quiz div.intro-page main button {
  max-width: 100%;
  width: 18rem;
  color: black;
  font-weight: 500;
  background: none;
  margin-top: 1.8rem;
  border-radius: 50px;
  border: 3px solid white;
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.8rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
div.drink-quiz div.intro-page main button:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  cursor: pointer;
}
div.drink-quiz div.quiz-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
div.drink-quiz div.quiz-page img.background {
  width: 100%;
  height: 100vh;
  z-index: -5;
  position: fixed;
  -o-object-position: center 90%;
     object-position: center 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
div.drink-quiz div.quiz-page .progress-container {
  width: 40%;
  height: 16px;
  background-color: rgb(243, 243, 243);
  border-radius: 999px;
  position: relative;
  margin-bottom: 24px;
  margin-top: 60px;
}
div.drink-quiz div.quiz-page .progress-container .progress-bar-fill {
  height: 100%;
  background-color: white;
  border-radius: 999px;
  position: relative;
  transition: width 0.4s ease;
}
div.drink-quiz div.quiz-page .progress-container .progress-bar-fill .progress-indicator {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
div.drink-quiz div.quiz-page main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
div.drink-quiz div.quiz-page main p {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  padding: 1rem;
  max-width: 50rem;
}
div.drink-quiz div.quiz-page main div.quiz-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
div.drink-quiz div.quiz-page main div.quiz-area div.quizs {
  max-width: 30rem;
}
div.drink-quiz div.quiz-page main div.quiz-area div.quizs button.btn {
  width: 100%;
  color: black;
  font-weight: 500;
  background: none;
  margin-top: 1.8rem;
  border-radius: 50px;
  border: 3px solid white;
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
div.drink-quiz div.quiz-page main div.quiz-area div.quizs button.btn:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  cursor: pointer;
}
div.drink-quiz div.quiz-page main div.quiz-area button.opt-btn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(254, 244, 228, 0.5);
  color: black;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}
div.drink-quiz div.quiz-page main div.quiz-area button.opt-btn:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  cursor: pointer;
}
div.drink-quiz div.result-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
div.drink-quiz div.result-page p.title {
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0;
  margin-top: 2rem;
}
div.drink-quiz div.result-page a.download {
  margin-top: 0.4rem;
}
div.drink-quiz div.result-page a.download p {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
}
div.drink-quiz div.result-page div.drink-result {
  width: 40%;
}
div.drink-quiz div.result-page div.drink-result img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
div.drink-quiz div.result-page button.share-quiz {
  width: 14rem;
  border-radius: 30px;
  color: white;
  background-color: black;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1.7rem;
  margin-bottom: 1.3rem;
}
div.drink-quiz div.result-page button.share-quiz:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  cursor: pointer;
}
div.drink-quiz div.result-page button.reset-quiz {
  width: 14rem;
  border-radius: 30px;
  color: black;
  background-color: white;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  border: 3px solid black;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4rem;
}
div.drink-quiz div.result-page button.reset-quiz:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  cursor: pointer;
}
div.drink-quiz div.result-page p.keep-look {
  margin: 0;
  color: black;
  font-size: 1.8rem;
}
div.drink-quiz div.result-page p.question-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  margin-top: 3.5rem;
}
div.drink-quiz div.result-page p.question-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-top: 0.8rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
div.drink-quiz div.result-page img.app-logo {
  width: 10rem;
  height: 10rem;
  margin-top: 3rem;
}
div.drink-quiz div.result-page p.ofs-intro-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-top: 2rem;
}
div.drink-quiz div.result-page p.ofs-intro-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-top: 0.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 5rem;
}
div.drink-quiz p.keep-look {
  margin: 0;
  color: black;
  font-size: 1.8rem;
}
div.drink-quiz p.question-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  margin-top: 3.5rem;
}
div.drink-quiz p.question-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-top: 0.8rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
div.drink-quiz img.app-logo {
  width: 10rem;
  height: 10rem;
  margin-top: 3rem;
}
div.drink-quiz p.ofs-intro-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-top: 2rem;
}
div.drink-quiz p.ofs-intro-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-top: 0.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 5rem;
}
div.drink-quiz div.ofs-area {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
div.drink-quiz div.ofs-area img.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -o-object-fit: fill;
     object-fit: fill;
}
div.drink-quiz div.ofs-area div.slogan {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 28rem;
  max-width: 100%;
  margin-top: 5rem;
}
div.drink-quiz div.ofs-area div.slogan p.white-line {
  padding: 0;
  height: 0.3rem; /* 調整線條的粗細 */
  background-color: white; /* 設定線條的顏色 */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
div.drink-quiz div.ofs-area div.slogan p.main-slogan {
  text-align: center;
  color: white;
  margin: 0;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}
div.drink-quiz div.ofs-area div.slogan p.sub-slogan {
  text-align: center;
  color: white;
  margin-top: 0.5rem;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}
div.drink-quiz div.ofs-area div.display {
  z-index: 1;
  width: 40rem;
  max-width: 100%;
  aspect-ratio: 462/622;
  position: relative;
  margin-top: 3rem;
}
div.drink-quiz div.ofs-area div.display img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -o-object-fit: fill;
     object-fit: fill;
}
div.drink-quiz div.ofs-area p.download-hint {
  z-index: 1;
  margin-top: 4rem;
  color: white;
  font-size: 2.2rem;
  font-weight: 500;
}
div.drink-quiz div.ofs-area div.download-btn {
  display: flex;
  flex-direction: row;
  width: 26rem;
  max-width: 100%;
  height: 4rem;
  z-index: 1;
  margin-top: 0.5rem;
}
div.drink-quiz div.ofs-area div.download-btn div.btn {
  flex: 1;
  position: relative;
}
div.drink-quiz div.ofs-area div.download-btn div.btn a {
  display: block;
}
div.drink-quiz div.ofs-area div.download-btn div.btn a img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: fill;
     object-fit: fill;
  transition: transform 0.5s ease;
}
div.drink-quiz div.ofs-area div.download-btn div.btn a:hover img {
  transform: scale(1.05);
}
div.drink-quiz div.ofs-area div.download-btn div.space {
  flex: 0.1;
}
div.drink-quiz div.ofs-area div.white-logo {
  width: 5rem;
  z-index: 1;
  aspect-ratio: 57/37;
  position: relative;
  margin-top: 8.5rem;
}
div.drink-quiz div.ofs-area div.white-logo img.app-white-logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
div.drink-quiz div.ofs-area div.footer {
  margin-top: 1rem;
  z-index: 1;
  text-align: center;
  color: white;
  position: relative;
}
div.drink-quiz div.ofs-area div.footer a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 450;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
div.drink-quiz div.ofs-area div.footer p.copyright {
  margin-top: 0.5rem;
  font-size: large;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(235, 235, 235);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(235, 235, 235);
}

@media screen and (max-width: 1024px) {
  div.drink-quiz div.enter-page header p.title {
    font-size: 2.5rem;
    margin-top: 5rem;
    text-align: center;
  }
  div.drink-quiz div.enter-page main p.carousel-title {
    font-size: 2rem;
  }
  div.drink-quiz div.enter-page main p.carousel-subtitle {
    font-size: 1.3rem;
  }
  div.drink-quiz div.enter-page main button {
    font-size: 1.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  div.drink-quiz p.keep-look {
    margin: 0;
    color: black;
    font-size: 1.6rem;
  }
  div.drink-quiz p.question-title {
    font-size: 2rem;
    margin-top: 3.5rem;
  }
  div.drink-quiz p.question-subtitle {
    font-size: 1.3rem;
    margin-top: 0.8rem;
  }
  div.drink-quiz p.ofs-intro-title {
    font-size: 1.8rem;
  }
  div.drink-quiz p.ofs-intro-subtitle {
    font-size: 1.3rem;
  }
  div.drink-quiz div.ofs-area div.slogan {
    width: 25rem;
  }
  div.drink-quiz div.ofs-area div.slogan p.white-line {
    height: 0.2rem; /* 調整線條的粗細 */
  }
  div.drink-quiz div.ofs-area div.slogan p.main-slogan {
    font-size: 2.3rem;
  }
  div.drink-quiz div.ofs-area div.slogan p.sub-slogan {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  div.drink-quiz div.ofs-area div.display {
    width: 32rem;
  }
  div.drink-quiz div.ofs-area p.download-hint {
    font-size: 1.8rem;
  }
  div.drink-quiz div.ofs-area div.download-btn {
    width: 20rem;
    height: 3.5rem;
  }
  div.drink-quiz div.ofs-area div.white-logo {
    width: 4.5rem;
  }
  div.drink-quiz div.ofs-area div.footer a {
    font-size: 1rem;
  }
  div.drink-quiz div.intro-page main p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  div.drink-quiz div.intro-page main button {
    max-width: 100%;
    width: 13rem;
    margin-top: 1.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  div.drink-quiz div.quiz-page .progress-container {
    width: 60%;
    height: 10px;
    margin-bottom: 0;
    margin-top: 30px;
  }
  div.drink-quiz div.quiz-page .progress-container .progress-bar-fill .progress-indicator {
    width: 20px;
    height: 20px;
  }
  div.drink-quiz div.quiz-page main p {
    font-size: 1.5rem;
  }
  div.drink-quiz div.quiz-page main div.quiz-area {
    margin-top: 0px;
  }
  div.drink-quiz div.quiz-page main div.quiz-area div.quizs {
    max-width: 25rem;
  }
  div.drink-quiz div.quiz-page main div.quiz-area div.quizs button.btn {
    margin-top: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1.2rem;
  }
  div.drink-quiz div.result-page p.title {
    font-size: 2rem;
    margin-top: 1rem;
  }
  div.drink-quiz div.result-page a.download {
    margin-top: 0.3rem;
  }
  div.drink-quiz div.result-page a.download p {
    font-size: 1.3rem;
  }
  div.drink-quiz div.result-page div.drink-result {
    width: 50%;
  }
  div.drink-quiz div.result-page button.share-quiz {
    width: 13rem;
    font-size: 1.3rem;
    padding: 0.8rem;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
  }
  div.drink-quiz div.result-page button.reset-quiz {
    width: 13rem;
    font-size: 1.3rem;
    padding: 0.8rem;
    margin-bottom: 3rem;
  }
  div.drink-quiz div.result-page p.keep-look {
    font-size: 1.4rem;
  }
  div.drink-quiz div.result-page p.question-title {
    font-size: 1.8rem;
    margin-top: 2.5rem;
  }
  div.drink-quiz div.result-page p.question-subtitle {
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }
  div.drink-quiz div.result-page img.app-logo {
    width: 8rem;
    height: 8rem;
  }
  div.drink-quiz div.result-page p.ofs-intro-title {
    font-size: 1.7rem;
  }
  div.drink-quiz div.result-page p.ofs-intro-subtitle {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 550px) {
  div.drink-quiz div.enter-page header p.title {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  div.drink-quiz div.enter-page header button {
    margin: 0;
    font-size: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  div.drink-quiz div.enter-page main {
    margin-top: 2rem;
  }
  div.drink-quiz div.enter-page main p.carousel-title {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  div.drink-quiz div.enter-page main p.carousel-subtitle {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  div.drink-quiz div.enter-page main button {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  div.drink-quiz p.keep-look {
    font-size: 1.3rem;
  }
  div.drink-quiz p.question-title {
    font-size: 1.5rem;
    margin-top: 3.5rem;
  }
  div.drink-quiz p.question-subtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  div.drink-quiz p.ofs-intro-title {
    font-size: 1.4rem;
  }
  div.drink-quiz p.ofs-intro-subtitle {
    font-size: 1.2rem;
    margin-bottom: 4rem;
  }
  div.drink-quiz img.app-logo {
    width: 9rem;
    height: 9rem;
    margin-top: 2rem;
  }
  div.drink-quiz div.ofs-area {
    aspect-ratio: 9/16;
  }
  div.drink-quiz div.ofs-area div.slogan {
    width: 22rem;
  }
  div.drink-quiz div.ofs-area div.slogan p.white-line {
    height: 0.2rem; /* 調整線條的粗細 */
  }
  div.drink-quiz div.ofs-area div.slogan p.main-slogan {
    font-size: 2.1rem;
  }
  div.drink-quiz div.ofs-area div.slogan p.sub-slogan {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }
  div.drink-quiz div.ofs-area div.display {
    margin-top: 1rem;
    width: 28rem;
  }
  div.drink-quiz div.ofs-area p.download-hint {
    margin-top: 3rem;
    font-size: 1.8rem;
  }
  div.drink-quiz div.ofs-area div.download-btn {
    width: 18rem;
    height: 3.2rem;
  }
  div.drink-quiz div.ofs-area div.white-logo {
    width: 4.3rem;
  }
  div.drink-quiz div.ofs-area div.footer a {
    font-size: 0.9rem;
  }
  div.drink-quiz div.intro-page main p {
    font-size: 1.2rem;
  }
  div.drink-quiz div.intro-page main button {
    width: 12rem;
    margin-top: 1.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  div.drink-quiz div.quiz-page .progress-container {
    width: 70%;
    height: 10px;
    margin-bottom: 0;
    margin-top: 30px;
  }
  div.drink-quiz div.quiz-page .progress-container .progress-bar-fill .progress-indicator {
    width: 20px;
    height: 20px;
  }
  div.drink-quiz div.quiz-page main p {
    max-width: 30rem;
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  div.drink-quiz div.quiz-page main div.quiz-area {
    margin-top: 0px;
  }
  div.drink-quiz div.quiz-page main div.quiz-area div.quizs {
    max-width: 23rem;
  }
  div.drink-quiz div.quiz-page main div.quiz-area div.quizs button.btn {
    margin-top: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1.1rem;
  }
  div.drink-quiz div.result-page p.title {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  div.drink-quiz div.result-page a.download {
    margin-top: 0.3rem;
  }
  div.drink-quiz div.result-page a.download p {
    font-size: 0.8rem;
  }
  div.drink-quiz div.result-page div.drink-result {
    width: 90%;
  }
  div.drink-quiz div.result-page button.share-quiz {
    width: 12rem;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
  }
  div.drink-quiz div.result-page button.reset-quiz {
    width: 12rem;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-bottom: 3rem;
  }
  div.drink-quiz div.result-page p.keep-look {
    font-size: 1.2rem;
  }
  div.drink-quiz div.result-page p.question-title {
    font-size: 1.3rem;
    margin-top: 2.5rem;
  }
  div.drink-quiz div.result-page p.question-subtitle {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }
  div.drink-quiz div.result-page img.app-logo {
    width: 7rem;
    height: 7rem;
    margin-top: 2rem;
  }
  div.drink-quiz div.result-page p.ofs-intro-title {
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  div.drink-quiz div.result-page p.ofs-intro-subtitle {
    font-size: 1rem;
    margin-top: 0.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 450px) {
  div.drink-quiz div.enter-page header {
    aspect-ratio: 375/812;
  }
  div.drink-quiz div.enter-page header p.title {
    font-size: 2.7rem;
    width: 60%;
    text-align: center;
    margin-top: 18rem;
  }
  div.drink-quiz div.enter-page header img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  div.drink-quiz div.enter-page header button {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  div.drink-quiz div.enter-page main p.carousel-title {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  div.drink-quiz div.enter-page main p.carousel-subtitle {
    margin-top: 0.2rem;
    font-size: 1.1rem;
  }
  div.drink-quiz div.enter-page main button {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  div.drink-quiz p.keep-look {
    font-size: 1.3rem;
  }
  div.drink-quiz p.question-title {
    font-size: 1.5rem;
    margin-top: 3.5rem;
  }
  div.drink-quiz p.question-subtitle {
    font-size: 1.1rem;
    margin-top: 0.4rem;
  }
  div.drink-quiz p.ofs-intro-title {
    font-size: 1.4rem;
  }
  div.drink-quiz p.ofs-intro-subtitle {
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
  div.drink-quiz img.app-logo {
    width: 7rem;
    height: 7rem;
    margin-top: 2rem;
  }
  div.drink-quiz div.ofs-area {
    aspect-ratio: 9/16;
  }
  div.drink-quiz div.ofs-area img.background {
    -o-object-fit: fill;
       object-fit: fill;
  }
  div.drink-quiz div.ofs-area div.slogan {
    margin-top: 3.5rem;
    width: 18rem;
  }
  div.drink-quiz div.ofs-area div.slogan p.white-line {
    height: 0.15rem; /* 調整線條的粗細 */
  }
  div.drink-quiz div.ofs-area div.slogan p.main-slogan {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
  div.drink-quiz div.ofs-area div.slogan p.sub-slogan {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
  }
  div.drink-quiz div.ofs-area div.display {
    margin-top: 1rem;
    width: 23rem;
  }
  div.drink-quiz div.ofs-area p.download-hint {
    margin-top: 3rem;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
  }
  div.drink-quiz div.ofs-area div.download-btn {
    width: 16rem;
    height: 2.7rem;
  }
  div.drink-quiz div.ofs-area div.white-logo {
    width: 4rem;
  }
  div.drink-quiz div.ofs-area div.footer {
    margin-top: 0.8rem;
  }
  div.drink-quiz div.ofs-area div.footer a {
    font-size: 0.8rem;
  }
  div.drink-quiz div.ofs-area div.footer p.copyright {
    font-size: small;
  }
  div.drink-quiz div.intro-page main p {
    max-width: 100%;
    font-size: 1.1rem;
    padding: 2.3rem;
    line-height: 1.7;
  }
  div.drink-quiz div.intro-page main button {
    width: 12rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1.2rem;
    margin-top: 0;
  }
  div.drink-quiz div.quiz-page .progress-container {
    width: 75%;
    height: 15px;
    margin-bottom: 0;
    margin-top: 40px;
  }
  div.drink-quiz div.quiz-page .progress-container .progress-bar-fill .progress-indicator {
    width: 23px;
    height: 23px;
  }
  div.drink-quiz div.quiz-page main p {
    max-width: 23rem;
    font-size: 1.4rem;
    margin-top: 3rem;
    text-align: center;
  }
  div.drink-quiz div.quiz-page main div.quiz-area {
    margin-top: 0px;
  }
  div.drink-quiz div.quiz-page main div.quiz-area div.quizs {
    max-width: 21rem;
  }
  div.drink-quiz div.quiz-page main div.quiz-area div.quizs button.btn {
    margin-top: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1.1rem;
  }
  div.drink-quiz div.result-page p.title {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  div.drink-quiz div.result-page a.download {
    margin-top: 0.3rem;
  }
  div.drink-quiz div.result-page a.download p {
    font-size: 0.8rem;
  }
  div.drink-quiz div.result-page div.drink-result {
    width: 90%;
  }
  div.drink-quiz div.result-page button.share-quiz {
    width: 12rem;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
  }
  div.drink-quiz div.result-page button.reset-quiz {
    width: 12rem;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-bottom: 3rem;
  }
  div.drink-quiz div.result-page p.keep-look {
    font-size: 1.2rem;
  }
  div.drink-quiz div.result-page p.question-title {
    font-size: 1.3rem;
    margin-top: 2.5rem;
  }
  div.drink-quiz div.result-page p.question-subtitle {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }
  div.drink-quiz div.result-page img.app-logo {
    width: 7rem;
    height: 7rem;
    margin-top: 2rem;
  }
  div.drink-quiz div.result-page p.ofs-intro-title {
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  div.drink-quiz div.result-page p.ofs-intro-subtitle {
    font-size: 1rem;
    margin-top: 0.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 380px) {
  div.drink-quiz div.enter-page header {
    aspect-ratio: 375/812;
  }
  div.drink-quiz div.enter-page header p.title {
    font-size: 2.7rem;
    width: 70%;
    text-align: center;
    margin-top: 15rem;
  }
  div.drink-quiz div.enter-page header img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  div.drink-quiz div.enter-page header button {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  div.drink-quiz div.intro-page main p {
    max-width: 100%;
    font-size: 1.1rem;
    padding: 1.5rem;
    line-height: 1.6;
  }
  div.drink-quiz div.intro-page main button {
    width: 12rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  div.drink-quiz div.quiz-page .progress-container {
    width: 75%;
    height: 13px;
    margin-bottom: 0;
    margin-top: 40px;
  }
  div.drink-quiz div.quiz-page .progress-container .progress-bar-fill .progress-indicator {
    width: 20px;
    height: 20px;
  }
  div.drink-quiz div.quiz-page main p {
    max-width: 23rem;
    font-size: 1.2rem;
    margin-top: 3rem;
    text-align: center;
  }
  div.drink-quiz div.quiz-page main div.quiz-area {
    margin-top: 0px;
  }
  div.drink-quiz div.quiz-page main div.quiz-area div.quizs {
    max-width: 19rem;
  }
  div.drink-quiz div.quiz-page main div.quiz-area div.quizs button.btn {
    margin-top: 1.3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1rem;
  }
  div.drink-quiz div.result-page p.title {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  div.drink-quiz div.result-page a.download {
    margin-top: 0.3rem;
  }
  div.drink-quiz div.result-page a.download p {
    font-size: 0.8rem;
  }
  div.drink-quiz div.result-page div.drink-result {
    width: 90%;
  }
  div.drink-quiz div.result-page button.share-quiz {
    width: 12rem;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
  }
  div.drink-quiz div.result-page button.reset-quiz {
    width: 12rem;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-bottom: 3rem;
  }
  div.drink-quiz div.result-page p.keep-look {
    font-size: 1.2rem;
  }
  div.drink-quiz div.result-page p.question-title {
    font-size: 1.3rem;
    margin-top: 2.5rem;
  }
  div.drink-quiz div.result-page p.question-subtitle {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }
  div.drink-quiz div.result-page img.app-logo {
    width: 7rem;
    height: 7rem;
    margin-top: 2rem;
  }
  div.drink-quiz div.result-page p.ofs-intro-title {
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  div.drink-quiz div.result-page p.ofs-intro-subtitle {
    font-size: 1rem;
    margin-top: 0.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
  }
  div.drink-quiz div.ofs-area div.slogan {
    width: 17rem;
  }
  div.drink-quiz div.ofs-area div.slogan p.main-slogan {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }
  div.drink-quiz div.ofs-area div.slogan p.sub-slogan {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
  }
  div.drink-quiz div.ofs-area div.display {
    margin-top: 1rem;
    width: 20rem;
  }
  div.drink-quiz div.ofs-area p.download-hint {
    margin-top: 2.5rem;
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
  }
  div.drink-quiz div.ofs-area div.download-btn {
    width: 14rem;
    height: 2.3rem;
  }
  div.drink-quiz div.ofs-area div.white-logo {
    width: 3rem;
  }
  div.drink-quiz div.ofs-area div.footer {
    margin-top: 0.6rem;
  }
  div.drink-quiz div.ofs-area div.footer a {
    font-size: 0.8rem;
  }
  div.drink-quiz div.ofs-area div.footer p.copyright {
    font-size: x-small;
  }
}/*# sourceMappingURL=drink.css.map */