div.landing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  img.background {
    width: 100%;
    height: 100vh;
    z-index: -5;
    position: fixed;
    object-fit: cover;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;

    div.app-logo {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      img {
        width: 11%;
      }
    }

    div.title {
      display: flex;
      flex-direction: column;
      width: 35%;

      p.white-line {
        padding: 0;
        height: 0.15rem; /* 調整線條的粗細 */
        background-color: white; /* 設定線條的顏色 */
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      p.main-slogan {
        text-align: center;
        color: white;
        margin: 0;
        font-weight: 500;
        font-size: 1.8rem;
        letter-spacing: 0.3rem;
      }

      p.sub-slogan {
        text-align: center;
        color: white;
        margin-top: 0.2rem;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    div.display {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      img {
        width: 100%;
      }
    }

    p.download-hint {
      margin-top: 1rem;
      color: white;
      font-size: 1.5rem;
      font-weight: 500;
    }

    div.store-btn {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-bottom: 2rem;
      a {
        flex: 0 1 180px;
        padding: 0.3rem;
        transition: all 0.5s ease;
        img {
          width: 100%;
        }
        &:hover {
          transform: scale(1.05);
        }
      }
    }

    p.keep-look {
      margin: 0;
      color: white;
      font-size: large;
    }

    p.rule-title {
      margin-top: 2rem;
      color: white;
      font-size: 2rem;
      font-weight: 500;
    }
  }

  main.sub-main {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      p.intro-title {
        color: white;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
      }

      p.intro-sub-title {
        color: white;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }
    }
    p.space {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  div.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 10%;
    }
  }

  footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

    div.privacy {
      text-align: center;
      width: 100%;
      a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-weight: 450;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      p.copyright {
        text-align: center;
        margin-top: 1rem;
        font-size: 1rem;
      }
    }
  }
}

//RWD 平板
@media screen and (max-width: 1400px) {
  #root {
    header {
      width: 50vw;

      div.app-logo {
        margin-top: 2rem;
        margin-bottom: 1rem;
        img {
          width: 15%;
        }
      }

      div.title {
        width: 70%;

        p.white-line {
          height: 0.1rem; /* 調整線條的粗細 */
        }

        p.main-slogan {
          font-size: 1.5rem;
        }

        p.sub-slogan {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  #root {
    header {
      div.app-logo {
        img {
          width: 20%;
        }
      }

      div.title {
        width: 93%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #root {
    header {
      width: 100vw;

      div.app-logo {
        margin-top: 2rem;
        margin-bottom: 1rem;
        img {
          width: 20%;
        }
      }

      div.title {
        width: 63%;

        p.white-line {
          height: 0.1rem; /* 調整線條的粗細 */
        }

        p.main-slogan {
          font-size: 1.5rem;
        }

        p.sub-slogan {
          font-size: 0.95rem;
        }
      }
    }

    main {
      div.display {
        width: 85%;
      }

      p.download-hint {
        font-size: 1.3rem;
      }

      div.store-btn {
        margin-bottom: 1.5rem;
        a {
          flex: 0 1 120px;
        }
      }

      p.keep-look {
        font-size: medium;
      }

      p.rule-title {
        margin-top: 1.5rem;
        color: white;
        font-size: 1.8rem;
      }
    }

    main.sub-main {
      margin-top: 3rem;

      div {
        p.intro-title {
          font-size: 1.4rem;
          margin-top: 2rem;
          margin-bottom: 0.2rem;
        }

        p.intro-sub-title {
          font-size: 0.9rem;
          margin-bottom: 2rem;
        }
      }
      p.space {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }

    div.footer-logo {
      img {
        width: 15%;
      }
    }

    footer {
      margin-top: 1rem;
      margin-bottom: 1rem;

      div.privacy {
        a {
          font-size: 0.8rem;
        }

        p.copyright {
          text-align: center;
          font-size: 0.8rem;
          margin-top: 0.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  #root {
    header {
      div.title {
        width: 70%;
      }
    }
  }
}
